* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;;
    background: url(../images/fondoAzul.jpeg) no-repeat;
    background-size: cover;
    color: #fff;
    margin: 0;
}

.titulo {
    color: #fff;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

h2, h3 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

p {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
}

form {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 290px;
    height: 344px;
    border-radius: 1.25rem;
    padding: 20px;
    background: rgb(5, 6, 45);
    color: white;
    margin: 30px 38px 20px 38px;
}

.card::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    margin: -0.5rem;
    border-radius: calc(1.25rem + 0.5rem);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"] {
    width: 50px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

header {
    background-color: #01164B;
    color: #fff;
    padding: 10px;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #01164B;
    padding: 10px 20px;
}

nav h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.input-box input:focus + label,
.input-box input:valid + label {
    top: -15px;
    font-size: 12px;
    color: #333;
}

button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #183153;
    font-family: Arial, sans-serif;;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    border: none;
    margin-left: 53px;
    margin-top: 30px;
}

button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #ffd401;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
}

button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

button span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

button:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

.footer {
    background-color: #001f3f;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
    width: 100%;
}

.footer p {
    font-size: 14px;
}

.group {
    flex: 0 0 calc(30% - 20px); 
    margin: 10px; 
    background-color: inherit;
    padding: 10px; 
    box-sizing: border-box; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}