* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  justify-content: center;
  background-image: url(https://wallpapercave.com/wp/wp4275519.jpg);
  background-size: cover;
  font-family: Arial, sans-serif;
}

nav {
  position: auto;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #001f3f;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 5%;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav h1 {
  color: #fff;
  font-size: 24px;
}

.header {
  /*padding-top: 100px;*/
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  width: 100%;
  height: 10vh;
  margin-bottom: 0;
}

.menu-header {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-header li {
  display: inline-block;
  margin-right: 20px;
}

.menu-header li:last-child {
  margin-right: 0;
}

.menu-header li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.menu-header li a:hover {
  color: #ffcd00;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center; 
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

section {
  font-size: 1em !important;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

@media screen and (max-width: 600px) {
  .container {
      margin-top: 100px; 
      padding: 0 20px;
  }

  .form-box {
      max-width: 100%;
  }

  header {
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 1000;
  }

  nav {
      padding: 10px 20px;
  }
}

.footer {
  background-color: #001f3f;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin: auto;
}

.footer p {
  font-size: 14px;
}

.form-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-value {
  width: 400px;
  padding: 40px;
  background: inherit;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.input-box {
  position: relative;
  margin-bottom: 30px;
}

.input-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.input-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 12px;
}

button[type="submit"] {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
}

button[type="submit"]:hover {
  background: #15297c;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #15297c, 0 0 25px #15297c, 0 0 50px #15297c, 0 0 100px #15297c;
}

button[type="submit"] span {
  position: absolute;
  display: block;
}

@keyframes btn-anim1 {
  0% {
      left: -100%;
  }

  50%, 100% {
      left: 100%;
  }
}

button[type="submit"] span:nth-child(1) {
  bottom: 2px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #15297c);
  animation: btn-anim1 2s linear infinite;
}
